aclocal.m4
autom4te.cache
configure
Makefile.in
Makefile
config/compile
config/config.guess
config/config.h
config/config.h.in
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
doc/Makefile.in
doc/Makefile
doc/__pycache__
*.o
*.la
*.lo
.deps
.libs
config.log
config.status
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
fax2ps
fax2tiff
pal2rgb
ppm2tiff
raw2tiff
rgb2ycbcr
thumbnail
tiff2bw
tiff2pdf
tiff2ps
tiff2rgba
tiffcmp
tiffcp
tiffcrop
tiffdither
tiffdump
tiffgt
tiffinfo
tiffmedian
tiffset
tiffsplit
*~
.idea
.vs
cmake-build*
build*
